html,
body {
    background-color: #21232a;
    color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
    font: 1.3rem;
    padding: 70px;
}

button {
    padding: 10px;
    margin-right: 10px;
    font-size: 1.3rem;
}
